
.container {
  height: 100vh;
}

.timer {
  position: absolute;
  top: 12px;
  text-align: center;
  right: 0;
  left: 0;
  font-size: 64px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.sansserif {
  font-family: Helvetica, Arial, sans-serif;
}

.serif {
  font-family: 'Noto Serif JP', 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro',serif;
}