
.container {
  height: 100vh;
}

.ui {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px;
}

.serif {
  font-family: 'Noto Serif JP', 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro',serif;
}